<h1>採録通知（編集委員長より著者宛）</h1>

<% ronbun = @article.category_group_name %>

<p>
To: <%= @article.authors.sort{|a,b| a.id <=> b.id }.map{|a| a.email }
                        .join(", ") %><br/>
Cc: <%= editor_email %>,
    <%= @article.users.map {|e| e.email }.join(", ") %><br/>
Subject: [要返信] <%= ronbun %>査読結果 <%= @article.name %>
</p>

<br/>

<p>[要返信] 本メールを受け取られましたら、受領確認のご返信をいただければ幸いです。
あわせて今後の連絡窓口となる著者もお知らせください。</p>

<p>
  <% @article.authors.sort{|a,b| a.id <=> b.id }.each do |author| %>
    <%= author.name %>様、
  <% end %>
</p>

<p>拝啓 時下ますますご健勝のこととお慶び申しあげます。</p>

<p>さて、このたび、日本ソフトウェア科学会「コンピュータソフトウェア」にご投稿いただきました<%= ronbun %></p>

<p>
<%= ronbun %>番号：<%= @article.name %><br/>
著者：
  <% @article.authors.sort{|a,b| a.id <=> b.id }.each do |author| %>
    <%= author.name + '　' %>
  <% end %>
<br/>
<%= ronbun %>題目：<%= @article.title %>
</p>

<p>が採録となりました。</p>

<p>今回お送りいただいた最終原稿を確認しましたので、ここに正式な採録通知をお送りします。</p>

<p>本学会ではこれまで、すべての採録原稿に対して書面での採録通知を各著者の皆様に郵送しておりましたが、昨今の状況を鑑み、書面による採録通知の郵送は著者ご本人のご希望があった場合に限らせていただく方針とさせていただいております。
つきましては、書面での採録通知がご必要な方は、郵送先住所と共にこのメールに返信してお知らせください。
お手数ですがよろしくお願いいたします。</p>

<p>なお、最終原稿は岩波書店および印刷所（三秀舎）に転送されます。
学会誌制作の過程で、岩波書店および三秀舎より直接問い合わせをさせていただくことがありますので、連絡窓口となる著者をお知らせください。
採録決定から出版まで最短でも３ヶ月程度、通常は半年からそれ以上かかります。
出版までの間（投稿論文の場合は出版後の掲載料の精算までの間）、連絡がつく著者をお知らせください。</p>

<p><%= Time.now.strftime("%Y 年 %m 月 %d 日") %></p>

<%= chiefs_signature.html_safe %>

<br/>

<%= link_to '戻る', @article %>
