<h1><%= @number %> 回目査読結果</h1>

<% ronbun = @article.category_group_name %>

<p>
To: <%= @article.authors.sort{|a,b| a.id <=> b.id }.map{|a| a.email }
                        .join(", ") %><br/>
Subject: <%= ronbun %>原稿 <%= @article.name %> についての照会 (第 <%= @number %> 回)
</p>

<br/>

<p>
  <% @article.authors.sort{|a,b| a.id <=> b.id }.each do |author| %>
    <%= author.name %>様、
  <% end %>
</p>

<p>拝啓 時下ますますご健勝のこととお慶び申しあげます。</p>

<p>さて、このたび、日本ソフトウェア科学会「コンピュータソフトウェア」にご投稿いただきました<%= ronbun %></p>

<p>
<%= ronbun %>番号：<%= @article.name %><br/>
著者：
  <% @article.authors.sort{|a,b| a.id <=> b.id }.each do |author| %>
    <%= author.name + '　' %>
  <% end %>
<br/>
<%= ronbun %>題目：<%= @article.title %>
</p>

<p>の査読者から、照会後判定との中間報告がありました。つきましては、添付の照会事項について、</p>

<p>３箇月後（<%= (Time.now + 60 * 60 * 24 * 91).strftime("%Y 年 %m 月 %d 日") %>）</p>

<p>までに、下記担当編集委員あてにご回答いただきたいと存じます。</p>

<p><%= ronbun %>原稿を改訂した場合には改訂版最新原稿（変更箇所を回答書に明記）を、改訂のない場合には投稿時の原稿をあわせてお送り願います。
回答書をプレインテキストまたは PDF 形式で、また<%= ronbun %>原稿を PDF 形式でお送りください。</p>

<% if @article.is_letter %>
<p>
レター論文の場合は、改訂後の刷り上がりページ数も原則6ページ以内、著者照会を含め全部で7ページ以内ですので、十分ご注意ください。
（査読者のコメントに対する対応に必要であれば加筆部分が7ページ目に及んでも構いません。）
</p>
<% end %>

<p>敬具</p>

<p><%= Time.now.strftime("%Y 年 %m 月 %d 日") %></p>

<p>日本ソフトウェア科学会 編集委員 <font color="red">《または「編集委員」ではなく「ゲストエディタ」》</font></p>


<p><font color="red">《氏名・所属・連絡先をここにうめる》</font></p>

<% unless @review_a.nil? %>
<p>========================================</p>
<p>査読者Ａ</p>

<p><%= @number %> 回目査読結果<br/>
判定：<%= @review_a.decision_name %></p>

<p><%= simple_format(html_escape(@review_a.to_author)) %></p>
<% end %>

<% unless @review_b.nil? %>
<p>========================================</p>

<p>査読者Ｂ</p>

<p><%= @number %> 回目査読結果<br/>
判定：<%= @review_b.decision_name %></p>

<p><%= simple_format(html_escape(@review_b.to_author)) %></p>
<% end %>

<% unless @review_c.nil? %>
<p>========================================</p>

<p>査読者Ｃ</p>

<p><%= @number %> 回目査読結果<br/>
判定：<%= @review_c.decision_name %></p>

<p><%= simple_format(html_escape(@review_c.to_author)) %></p>
<% end %>

<br/>

<%= link_to '戻る', @article %>
