<h1>査読依頼・査読フォーム</h1>

<% ronbun = @article.category_group_name %>

<% if @number != "1" && @article.is_letter %>
<p><font color="red">レター論文の場合、２回目以降の査読はありません</font></p>
<% end %>

<p>
Subject: <%= ronbun %>原稿 <%= @article.name %> 査読のお願い
</p>

<br/>

<p><font color="red">《査読者氏名》</font> 様</p>

<p>拝啓 時下ますますご健勝のこととお慶び申しあげます。</p>

<p>さて、このたび、日本ソフトウェア科学会「コンピュータソフトウェア」に投稿されました<%= ronbun %></p>

<p>
<%= ronbun %>種別：<%= @article.category_name %><br/>
査読種別：<%= @article.review_type %><br/>
募集種別：<%= @article.type_name %><br/>
<%= ronbun %>番号：<%= @article.name %><br/>
<%= ronbun %>題目：<%= @article.title %>
</p>

<% if @number == "1" %>
  <p>の査読をお願いしたいと存じます。</p>
<% else %>
  <p>は、照会後判定との中間結果となり、著者に照会しましたところ、添付のような回答が届きました。</p>
<% end %>

<p>ご多忙中恐縮ではございますが，</p>

<% if @number == "1" %>
  <p>　　月　　日 <font color="red">《査読者と合意した日付をご記入ください。概ね１ヶ月後》</font></p>
<% else %>
  <p>　<%= (Time.now + 60 * 60 * 24 * 30).strftime("%Y 年 %m 月 %d 日") %></p>
<% end %>

<p>までに末尾の査読報告書に査読結果を記入の上、下記担当編集委員までご返信いただきますようお願い申し上げます。</p>

<% if @number == "1" %>
  <% if @article.is_letter %>
  <p>
  レター論文の場合、速報性を重視し、一度の査読での採否決定をお願い致します。<br/>
  照会することはできません。査読者一名のみによる査読です。<br/>
  査読においては、速報性を特に重視し、関連研究との比較や評価などは（通常論文ほどには）重視しないで下さい。<br/>
  レター論文は、改訂後のページ数も原則として刷り上り6ページ以下ですので、採録の場合、大きな改訂要求をしないで下さい。
  </p>
  <% end %>

  <p>査読方法や判断基準につきましては、論文査読規定の [3]
  および論文投稿規定の [1] をご参照下さい。規定類は
  </p>
  <p><a href="http://www.jssst.or.jp/edit/detail/kitei.html">http://www.jssst.or.jp/edit/detail/kitei.html</a></p>
  <p>で閲覧することができます。
  もし著者の選択した論文種別が適切でないと判断された場合は<br/>
  「編集委員への特記事項」の中に注記していただくようお願いします。
  </p>

  <% if @article.category == Article::SOFTWARE_PAPER %>
  <p>なおソフトウェア論文の評価指標については下記に記述があります。ご参照ください。</p>

  <p><a href="http://www.jssst.or.jp/edit/detail/software_papers.html">http://www.jssst.or.jp/edit/detail/software_papers.html</a></p>
  <% end %>

  <p>本誌は論文投稿規定により、国際会議や研究会に既発表の論文の投稿も受け付けることになっております。<br/>
  それらで既発表であり、そこからの新規性がないことを理由に不採録にしないでください。<br/>
  そのような論文も本誌に掲載するに値する質が保たれているかを基準に判定ください。
  </p>

  <p>なお、著者との間に利益相反関係が成立つ可能性がある場合には、その旨を担当編集委員にお申し出ください。<br/>
  師弟関係、親友関係、過去５年以内の同僚または共同研究者等の関係などが、これに該当する可能性があります。
  </p>

  <p>最後に査読者のためのガイドとして良く知られたものに</p>

  <ul>   
  <li>Alan Jay Smith, "The Task of the Referee",
  <a href="http://dx.doi.org/10.1109/2.55470">
  http://dx.doi.org/10.1109/2.55470</a>.

  <li>Ian Parberry, "A Guide for New Referees in Theoretical Computer Science",
  <a href="https://dl.acm.org/doi/10.1145/74074.74090">
  https://dl.acm.org/doi/10.1145/74074.74090</a>.
  </ul>

  <p>があります。また査読者のための綱領として</p>

  <ul>
  <li>Pat Hill, "Code of Conduct for Referees",
  <a href="http://dtai.cs.kuleuven.be/projects/ALP/Guidelines_Reviewer/">
  http://dtai.cs.kuleuven.be/projects/ALP/Guidelines_Reviewer/</a>.
  </ul>

  <p>などがあります。査読作業の参考にしてください。</p>
<% else %>
  <p>なお、通常論文の著者への照会は全体で２回までしか行ないませんのでご承知おきください。</p>
<% end %>

<p>敬具</p>

<p><%= Time.now.strftime("%Y 年 %m 月 %d 日") %></p>

<p>日本ソフトウェア科学会 編集委員 <font color="red">《または「編集委員」ではなく「ゲストエディタ」》</font></p>


<p><font color="red">《氏名・所属・連絡先をここにうめる》</font></p>

<p><br/></p>

<p>== 査読報告書 ===================================================</p>

<p>査読報告書</p>

論文番号：<%= @article.name %><br/>
論文題目：<%= @article.title %><br/>
報告年月日：　年   月   日
</p>

<p>査読の総合判定（該当するものを残してください）：</p>

<ul>
<li>採録
<li>採録（参考意見あり）
<li>採録（「採録条件コメント」あり）
<li>照会
<li>不採録
</ul>

<% if @article.is_letter %>
<p>　《レター論文の場合、速報性を重視し、一度の査読での採否決定をお願い致します。照会することはできません。
査読者一名のみによる査読です。<br/>
査読においては、速報性を特に重視し、関連研究との比較や評価などは（通常論文ほどには）重視しないで下さい。》</p>
<% end %>

<p>　《照会の場合、査読者に再度査読を依頼します。
採録条件コメントつき採録の場合、コメントの反映を担当編集委員が確認します。》</p>

<p>論文賞候補として（どちらか該当するものを残してください）：</p>

<ul>
<li>推す
<li>ふさわしくない
</ul>

<p><br/></p>

<p>== 編集委員への特記事項 ======</p>

<p>《この欄には、著者あてのコメント以外に編集委員長あてのコメントがある場合に記入してください。特に，</p>

<ul>
<li>論文の評価に影響したかもしれない（著者、その所属組織、論文、もしくは当該分野に関する）個人的バイアス
<li>当該分野の関する専門性や論文内容の理解度に関する伝達事項
</ul>
<p>がある場合は、必ずお書きくださるようお願いします。この部分は著者へ送付されません。》</p>

<p><br/></p>

<p>== 著者への説明 ==============</p>

<p>《この部分は著者へそのまま送付されます》</p>

<p>《判定結果にかかわらず、必ずこの部分に</p>
<ul>
<li>査読者の理解に基づく論文概要
<li>前向きに評価すべき事項
<li>問題点（もしあれば）
<li>結論
</ul>
<p>を記述して下さい。
その上で、論文改善のための参考意見を記入してください。》
</p>

<p>《「採録条件コメント」ありで採録と判定する場合は、この部分に、原稿に対する全体コメントを記述の上、</p>
<ul>
<li>小規模かつ明確な改訂要求（「採録のためのコメント」）
<li>その他論文改善のための参考意見
</ul>
<p>がある場合には、両者が区別できる形で記入してください。》</p>

<p>《照会と判定する場合は、この部分に原稿に対する全体コメントを記述の上、<br/>
具体的な改訂依頼事項を照会事項として記述してください。<br/>
原稿改善のための参考意見がある場合は、照会事項と区別がつく形で記入して下さい。》</p>

<p>《不採録と判定する場合は、この部分に原稿に対する全体コメントを記述の上、<br/>
不採録と判断した理由をできる限り建設的かつ客観的に記述して結論づけて下さい。<br/>
論文の改善や今後の研究に役立つような詳細なコメントも歓迎します。》</p>

<p>================================================================</p>

<br/>

<%= link_to '戻る', @article %>
