<p id="notice"><%= notice %></p>

<h1>編集委員情報</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>所属</th>
      <th>Email</th>
      <th>有効</th>
      <th>ゲスト</th>
      <th>管理者</th>
    </tr>
  </thead>

  <tbody>
    <% user = @user %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.affiliation %></td>
        <td><%= user.email %></td>
        <td><%= show_boolean(user.active) %></td>
        <td><%= show_boolean(user.guest_editor) %></td>
        <td><%= show_boolean(user.admin) %></td>
      </tr>
  </tbody>
</table>

<%= link_to '変更', edit_user_path(@user) %>
<% if logged_in_as_admin? %>
| <%= link_to '委員一覧', users_path %>
<% end %>
